*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
body{  
    background: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin-top:  30px;
    margin-bottom: 30px;}
 
#edad{

}
h1{
    
    
    color: black;
    
}

    
